.Message {
    margin: 0 auto;
}

.Message__text {
    margin: 0 auto;
    padding: 5px;
    border-bottom: 1.5px solid rgb(16, 75, 43);
    box-sizing: border-box;
    font-size: 35px;
    font-style: italic;
    color: rgb(82, 22, 22);
}

.message__fulltext {
    margin: 10px 0;
    background-color: aliceblue;
    min-height: 100px;
    min-width: 150px;
    max-width: 100%;
    border: 1px solid rgb(59, 33, 155);
    box-sizing: border-box;
    color: black;
}